.container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  column-gap: 2%;
  row-gap: 2vh;
}

.container > div {
  display: flex;
}

.container > div:before {
  content: "";
  display: block;
  height: 0;
  width: 0;
  padding-bottom: calc(16/9 * 100%);
}
