.container {
  width: 100%;
  display: grid;
  grid-template-columns: 45% 45%;
  /* grid-template-rows: min-content; */
  grid-auto-rows: 40vh;
  column-gap: 10%;
  row-gap: 2vh;
}

@media (min-width: 500px) {
  .container {
    grid-template-columns: repeat(3, 30%);
    column-gap: 5%;
    grid-auto-rows: 30vh;
  }
}

@media (min-width: 780px) {
  .container {
    grid-template-columns: repeat(4, 20%);
    column-gap: 5%;
    grid-auto-rows: 350px;
  }
}

@media (min-width: 1180px) {
  .container {
    grid-template-columns: repeat(6, 14%);
    column-gap: 2%;
    grid-auto-rows: 350px;
  }
}
