body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --primary-color-light: #f8f9fa;
  --primary-color-lighter: #e9ecef;
  --primary-color: #dee2e6;
  --primary-color-darker: #ced4da;
  --primary-color-dark: #adb5bd;
  --secondary-color-light: #6c757d;
  --secondary-color: #495057;
  --secondary-color-darker: #343a40;
  --secondary-color-dark: #212529;
}
